.gallery{
    width:150px;
    position:relative;
}
.image img{
    width:100%;
}

.image:hover .overlay{
    opacity:1;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:lightgreen;
    color:#fff;
    opacity:0;
    display: flex;
    align-items:center;
    justify-content:center;
    transition: opacity 0.3s;
}
.image:hover .overlay{
    opacity:1;
}